<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mentés</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.45/dist/vue.global.min.js"></script>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/navbar.css">
</head>
<body>
<div id="item">
    <nav>
        <ul>
            <li>
                <a href="/list.html">Termékek</a>
            </li>
            <li>
                <a href="/orders.html">Rendelések</a>
            </li>
            <li>
                <a href="/rentList.html">Új rendelés</a>
            </li>
        </ul>
    </nav>
    <div class="center">
        <h1>Termék leírás</h1>
    </div>
    <form action="#" method="get" class="center form-input">
        <div class="">
            <span class="input-label2" id="name-label">Termék neve: </span>
            <span class="input-label">{{ item.name }}</span>
        </div>
        <div class="">
            <span class="input-label2" id="description-label">Leírás: </span>
            <span class="input-label">{{ item.description }}</span>

        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-label2" id="item-type-label">Típus: </span>
                <span class="input-label">{{ item.type }}</span>
            </div>
        </div>
        <button type="button" class="btn btn-primary" @click="back">Vissza</button>
        <button type="button" class="btn btn-primary" @click="rentItem(item.id)">Rendelés</button>
    </form>

</div>
<script>
    const app = Vue.createApp({
        data() {
            return {
                item: {},
                itemTypes: []
            }
        },
        methods: {
            rentItem(id) {
                window.location = '/order.html?id=' + id;
            },
            back() {
                history.back();
            },


        },
        mounted() {
            const id = new URLSearchParams(window.location.search).get('id');
            if (id != null) {
                fetch('/api/item/' + id, {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                    }
                })
                    .then(res => {
                        if (res.ok) {
                            return res.json();
                        } else {
                            throw new Error(res.error);
                        }
                    })
                    .then(out => this.item = out);
            }
        }
    }).mount('#item')
</script>
</body>
</html>
