<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage items</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.45/dist/vue.global.min.js"></script>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/navbar.css">
</head>
<body>
<nav>
    <ul>
        <li>
            <a href="/list.html">Termékek</a>
        </li>
        <li>
            <a href="/orders.html">Rendelések</a>
        </li>
        <li>
            <a href="/rentList.html">Új rendelés</a>
        </li>
    </ul>
</nav>

<div id="list" >

    <div class="center">
        <h2>Termék menedzsment</h2>
    </div>
    <div class="center">
        <div class="filter-input">
            <span class="input-label" id="item-name-label">Neve:</span>
            <input type="text" class="search" v-model.lazy="name">
        </div>

        <div class="filter-input">
            <span class="input-label" id="item-type-label">Típus</span>
            <select class="type" id="item-type" v-model.lazy="type">
                <option v-for="type in itemTypes">
                    {{type}}
                </option>
            </select>
        </div>
    </div>





    <div class="table-container center">
        <table class="table ">
            <thead>
            <tr>
                <th scope="col">Azonisító</th>
                <th scope="col">Név</th>
                <th scope="col">Típus</th>
                <th scope="col">Műveletek</th>
            </tr>
            </thead>
            <tbody>
            <tr is="vue:list-item" v-for="item in filtered" v-bind:item="item" :key="item.id"></tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-primary" @click="newItem">Hozzáadás</button>
    </div>

</div>
<script>
    const app = Vue.createApp({
        data() {
            return {
                items: [],
                type: '',
                name:'',
                itemTypes: []
            };
        },
        computed: {
            filtered:{
                get(){
                    return this.items.filter(x => x.type.match(this.type)).filter(x => x.name.match(this.name))
                }
            }

        },
        methods: {
            newItem() {
                window.location = '/save.html';
            },
            refreshList() {
                fetch('/api/items', {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                    }
                })
                    .then(res => res.json())
                    .then(out => this.items = out);
            }

        },
        components: {
            'list-item': {
                props: ['item'],
                methods: {
                    deleteItem(item) {
                        if (window.confirm(`Biztosan szeretné törölni ${item.name}\n(id:${item.id})`)) {
                            fetch('/api/item/' + item.id, {
                                method: 'DELETE',
                                headers: {
                                    'Accept': 'application/json',
                                    'Content-Type': 'application/json',
                                }
                            }).then(res => {
                                if (res.ok) {
                                    this.refreshList();
                                } else {
                                    throw new Error(res.error);
                                }
                            });
                        }
                    },
                    editItem(id) {
                        window.location = '/save.html?id=' + id;
                    },
                },
                template: `
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.type}}</td>
                        <td>
                            <button type="button" class="btn btn-primary" @click="this.deleteItem(item)">TÖRLÉS</button>
                            <button type="button" class="btn btn-primary" @click="this.editItem(item.id)">MÓDOSÍTÁS</button>
                        </td>
                    </tr>`
            }
        },
        mounted() {
            this.refreshList();

            fetch('/api/item/types', {
                method: 'GET',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                }
            })
                .then(res => {
                    if (res.ok) {
                        return res.json();
                    } else {
                        throw new Error(res.error);
                    }
                })
                .then(out => this.itemTypes = out);
        }
    }).mount('#list');
</script>
</body>
</html>
