<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listázás</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.45/dist/vue.global.min.js"></script>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/navbar.css">
</head>
<body>
<div id="list">
    <nav>
        <ul>
            <li>
                <a href="/list.html">Termékek</a>
            </li>
            <li>
                <a href="/orders.html">Rendelések</a>
            </li>
            <li>
                <a href="/rentList.html">Új rendelés</a>
            </li>
        </ul>
    </nav>
    <div class="center">
        <h2>Rendelés menedzsment</h2>
    </div>
    <div class="center">
        <div class="filter-input">
            <span class="input-label" id="item-name-label">Neve:</span>
            <input type="text" class="search" v-model.lazy="name">
        </div>
    </div>
    <div class="center">
        <h3>Találatok: {{ listLength }}</h3>
    </div>
    <div class="table-container center">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Azonisító</th>
                <th scope="col">Név</th>
                <th scope="col">Cím</th>
                <th scope="col">Tel.</th>
                <th scope="col">Mennyiség</th>
                <th scope="col">Műveletek</th>
            </tr>
            </thead>
            <tbody>
            <tr is="vue:list-item" v-for="order in filtered" v-bind:order="order" :key="order.id"></tr>
            </tbody>
        </table>
    </div>


</div>
<script>
    const app = Vue.createApp({
        data() {
            return {
                orders: [],
                type: '',
                name:'',
                itemTypes: []
            };
        },
        computed: {
            filtered:{
                get(){
                    return this.orders.filter(x => x.customerName.match(this.name))
                }
            },
            listLength() {
                return this.filtered.length;
            }
        },
        methods: {
            refreshList() {
                fetch('/api/orders', {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                    }
                })
                    .then(res => res.json())
                    .then(out => this.orders = out);
            }

        },
        components: {
            'list-item': {
                props: ['order'],
                methods: {
                    deleteItem(order) {
                        if (window.confirm(`Biztosan szeretné törölni ${order.customerName}\n(id:${order.id})`)) {
                            fetch('/api/order/' + order.id, {
                                method: 'DELETE',
                                headers: {
                                    'Accept': 'application/json',
                                    'Content-Type': 'application/json',
                                }
                            }).then(res => {
                                if (res.ok) {
                                    this.refreshList();
                                } else {
                                    throw new Error(res.error);
                                }
                            });
                        }
                    },
                    editItem(id, itemId) {
                        window.location = '/order.html?orderId=' + id + '&id=' + itemId;
                    },
                },
                template: `
                    <tr>
                        <td>{{order.id}}</td>
                        <td>{{order.customerName}}</td>
                        <td>{{order.address}}</td>
                        <td>{{order.tel}}</td>
                        <td>{{order.quantity}}</td>
                        <td>
                            <button type="button" class="btn btn-primary" @click="this.deleteItem(order)">TÖRLÉS</button>
                            <button type="button" class="btn btn-primary" @click="this.editItem(order.id, order.itemId)">MÓDOSÍTÁS</button>
                        </td>
                    </tr>`
            }
        },
        mounted() {
            this.refreshList();

        }
    }).mount('#list');
</script>
</body>
</html>
