<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mentés</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.45/dist/vue.global.min.js"></script>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/navbar.css">
</head>
<body>

<div id="item">
    <nav>
        <ul>
            <li>
                <a href="/list.html">Termékek</a>
            </li>
            <li>
                <a href="/orders.html">Rendelések</a>
            </li>
            <li>
                <a href="/rentList.html">Új rendelés</a>
            </li>
        </ul>
    </nav>
    <div class="center">
        <h1>Új termék</h1>
    </div>
    <form action="#" @submit.prevent="save" method="put"
          class="center form-input">
        <div class="">
            <span class="input-label2" id="name-label">Termék neve</span>
            <input id="name" type="text" class="search " v-model.lazy="item.name" placeholder="Név"/>
        </div>
        <div class="">
            <span class="input-label2" id="description-label">Leírás</span>
            <input id="description" type="text" class="search " v-model.lazy="item.description" placeholder="Leírás"/>
        </div>
        <div class="">
            <span class="input-label2" id="quantity-label">Mennyiség</span>
            <input id="quantity" type="text" class="search " v-model.lazy="item.quantity" placeholder="Leírás"/>
        </div>
        <div class="input-group-prepend">
            <span class="input-group-text" id="item-type-label">Típus</span>
            <select class="type" id="item-type" v-model.lazy="item.type">
                <option v-for="type in itemTypes">
                    {{type}}
                </option>
            </select>
        </div>
        <button type="button" class="btn btn-primary" @click="back">Vissza</button>
        <button type="button" class="btn btn-primary" @click="reset">Ürítés</button>
        <button type="submit" class="btn btn-primary">Mentés</button>
    </form>
</div>
<script>
    const app = Vue.createApp({
        data() {
            return {
                item: {},
                itemTypes: []
            }
        },
        methods: {
            save() {
                fetch('/api/item', {
                    method: 'PUT',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(this.item)
                }).then(res => {
                    if (res.ok) {
                        window.location = "/list.html"
                    } else {
                        throw new Error(res.error);
                    }
                });
            },
            reset() {
                this.item.name = '';
                this.item.type = '';
            },
            back() {
                history.back();
            },
        },
        mounted() {
            const id = new URLSearchParams(window.location.search).get('id');
            if (id != null) {
                fetch('/api/item/' + id, {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                    }
                })
                    .then(res => {
                        if (res.ok) {
                            return res.json();
                        } else {
                            throw new Error(res.error);
                        }
                    })
                    .then(out => this.item = out);
            }
            fetch('/api/item/types', {
                method: 'GET',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                }
            })
                .then(res => {
                    if (res.ok) {
                        return res.json();
                    } else {
                        throw new Error(res.error);
                    }
                })
                .then(out => this.itemTypes = out);
        }
    }).mount('#item')


</script>
</body>
</html>
