body{
    background-color: #95ecb0;
}


table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

table thead tr {
    background: linear-gradient(to right, #4a9e48, #4ca2cb);
    text-align: center;
    color: #ffffff;

}

table th,
table td {
    padding: 12px 15px;
    text-align: center;
}



table tbody tr:nth-of-type(even) {
    background-color: #adfda2;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #4a9e48;
}

button {
    border-radius: 4px;
    background: linear-gradient(to right, #4a9e48, #4ca2cb) !important;
    border: none;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    padding: 10px;
    width: 150px;
    transition: all 0.4s;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    padding-right: 25px;
}

label {
    padding: 10px;
    display: inline-block;
    width: 25px;
    color: #777777;
}

.search {
    background-color: #F0FFFF;
    border-radius: 6px;
    padding-left: 20px;
    height: 30px;
    width: 200px;
}
.type{
    height: 30px;
    width: 200px;
    padding: 5px 20px;
    border: none;
    border-radius: 4px;
    background-color: #F0FFFF;
}
.input-label{
    font-size: 16px;
    font-family: sans-serif;
    padding-right: 20px;
    padding-top: 30px;
}
.input-label2{
    font-size: 25px;
    font-family: sans-serif;
    padding-right: 15px;
}

.filter-input{
    display: inline-block;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 10px;
}
.center{
    text-align: center;
}
.form-input{
    padding-top: 40px;
}

